In [ ]:
num = float(input("Enter a number: "))

if num>0:
  print ("Positive")
elif num<0:
  print ("Negative")
else:
  print ("Zero")

Enter a number: -7.5
Negative

In [ ]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a number: "))
operation = input("Enter a a sign (+,-,*,/,**,>,<): ")

if operation=="+":
  print (num1+num2)
elif operation=="-":
  print (num1-num2)
elif operation=="*":
  print (num1*num2)
elif operation=="/" and num2!=0:
  print (num1/num2)
elif operation=="**":
  print (num1**num2)
elif operation==">" and num1>num2:
  print (num1)
elif operation==">" and num2>num1:
  print (num2)
elif operation=="<" and num1<num2:
  print (num1)
elif operation=="<" and num2<num1:
  print (num1)
else:
  print ("I do not support this yet!")

Enter a number: 8
Enter a number: 9
Enter a a sign (+,-,*,/,**,>,<): a
I do not support this yet!

In [ ]:
text = "London is the capital and largest city of both England and the United Kingdom, with a population of 8,866,180 in 2022."
print (len(text))
print(text[47:54])
print(text[-32:-21])

118
England
population

In [ ]:
text = "My name is Vitor and I live in London"
print (text[1])

y

In [ ]:
text = "My name is Vitor and I live in London"
print (text[0:])

My name is Vitor and I live in London

In [ ]:
name = "ABCDEF"
print (name[-1])

E

In [ ]:
text = input("Where are you from?: ")

# If the citty starts with L then print "Capital L" else print "Something else"
#Check if the text has a . at the end, if so say you have a dot

if text[0]=="L":
  print("Capital L")
else:
  print("Something else")

if text[-1]==".":
  print("There is a dot.")
else:
  print("There is no dot")